body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#E9ECEF;
}
header{
   display: flex;
    align-items: center;
    padding: 0px 35px;
    background: #f8f9fa;
    position: relative;
    background-color: #E9ECEF;
}
.icon{
   margin-left: 80%;
   font-size: 20px;
}
.bell{
    margin-left:2%;
    font-size:20px;
}
.bars{
    margin-left:2%;
    font-size:20px;
}
.bars:hover{
    border-radius:15px; 
    padding:7px;
    background-color: #C0C0C0;
     transform: scale(1.0);
}
nav{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
nav a{
    margin:0 15px;
    color:#3C4142;
    font-weight: bold;
    display: inline-block;
    margin:0px 25px;
}
nav a:hover{
    color:black;
    font-size:17px;
}
.image-container{
    position:relative;
    width:100%;
}
.image-container img{
    width:100%;
    height:175px;
    display: block;
   
}
.text-image{
    position:absolute;
    top:65%;
    left:2%;
    color: white;
    font-size: 30px;
    font-weight:bold;
 }
.course-container {
    position: relative;
    border: 1px;
    border-color: #E9ECEF;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 200px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
}
.course-container:hover {
box-shadow:
    rgba(0, 0, 0, 0.04) 0px 1px 2px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px,
    rgba(0, 0, 0, 0.08) 0px 4px 8px,
    rgba(0, 0, 0, 0.12) 0px 8px 16px;
}
.course-title {
    position: absolute;
    top: -15px;
    left: 29%;
    transform: translateX(-50%);
    background: white;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
}
.course-title:hover{
    font-size: 22px;   
}
.course-title a {
    text-decoration: none;
    color: blue;
}
.course-container img {
    height: 120px;
    flex-shrink: 0;
    margin-left: 10px;
    border-radius: 5px;
}
.course-container h4 {
    font-size: 16px;
    color: #000;
    margin: 2px;
    line-height: 1.5;
    text-align: left;
}
.course-container2{
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border:1px ;
    border-radius: 8px;
    margin-left:16%;
    margin-right: 16%;
    margin-top:17px; 
}
.course-container2:hover{
    box-shadow:
    rgba(0, 0, 0, 0.04) 0px 1px 2px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px,
    rgba(0, 0, 0, 0.08) 0px 4px 8px,
    rgba(0, 0, 0, 0.12) 0px 8px 16px;
}
.course-title2{
    position: absolute;
    left:21%;
    top:-8px;
    font-weight: bold;
    font-size:20px;
}
.course-title2:hover{
    font-size: 22px;
}
.course-title2 a {
    text-decoration: none;
    color: blue;
}
.course-container2 h4{
   text-align: left;
   margin-top:46px;
   margin-left: 21%;
   margin-right:3%;
   line-height: 1.5;
   font-size: 16px;
}
.course-container2 img{
    position: absolute;
    height: 110px;
    width:140px;
    flex-shrink: 0;
    margin-left:18px;
    border-radius: 5px;
}